.w-tc-editor {
  --color-fg-default: #abb2bf;
  --color-canvas-subtle: #222;
  --color-prettylights-syntax-comment: #5c6370;
  --color-prettylights-syntax-entity-tag: #d19a66;
  --color-prettylights-syntax-entity: #61afef;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #56b6c2;
  --color-prettylights-syntax-constant: #98c379;
  --color-prettylights-syntax-string: #56b6c2;
  --color-prettylights-syntax-keyword: #c678dd;
  --color-prettylights-syntax-markup-bold: #fd9afd;
}
