@use "./styles/animation";
@use "./styles/devices";
@use "./styles/buttons.scss";

pre {
  margin: 0;
  padding: 12px;
  font-size: 12;
  background-color: #222;
  font-family: "ui-monospace" "SFMono-Regular" "SF Mono" Consolas Liberation
    Mono Menlo monospace;

  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  border-radius: 12px;
}

.App {
  display: grid;
  grid-template: repeat(2, 50%) / 20% repeat(2, 40%);
  @include devices.phone {
    grid-template: repeat(2, 1fr) / repeat(1, 1fr);
  }

  & > * {
    padding: 12px 12px;
  }
  padding-top: 40px;

  background-color: #111;

  animation: fadeIn 2s;

  &_Container {
    display: grid;
    grid-template-rows: auto fill;
    height: 100%;
    width: 100%;
  }
}

.Editor {
  grid-row: 1 / span 2;
  overflow-y: auto;

  @include devices.phone {
    grid-row: 1 / 1;
  }

  & > * {
    min-height: 100%;

    border-radius: 12px;
  }
}

.Tutorial {
  @include devices.phone {
    opacity: 80%;

    padding-top: 32px;
    border-radius: 0;

    & h1 {
      opacity: 100%;
    }
  }

  height: 100%;

  padding: 12px;
  border-radius: 12px;
  margin: 0;

  background-color: #151515;

  overflow-y: auto;

  & * {
    margin: 8px 0;
  }

  &_Toggle {
    display: none;
    @include devices.phone {
      display: initial;
    }
  }

  &_Index {
    margin: auto 0;
    padding: 0 16px;
    justify-self: flex-start;
  }
}

.Console {
  display: grid;
  grid-template: 48px 1fr / 100%;

  overflow-y: auto;
  gap: 8px;

  &_Control {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.Error {
  color: #ff1f1f;

  animation: fadeIn 0.5s;
}

.Mobile_Title {
  display: none;
  @include devices.phone {
    display: block;
  }
}
