@use "./styles/animation";
@use "./styles/devices";
@use "./styles/buttons.scss";

pre {
  padding: 12px;
  font-size: 12;
  background-color: #222;
  font-family: "ui-monospace" "SFMono-Regular" "SF Mono" Consolas Liberation
    Mono Menlo monospace;

  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.App {
  display: grid;
  grid-template: repeat(2, 50%) / repeat(2, 50%);
  @include devices.phone {
    grid-template: repeat(2, 1fr) / repeat(1, 1fr);
  }

  & > * {
    padding: 12px 12px;
  }
  padding-top: 40px;

  height: 100%;
  width: 100%;

  background-color: #111;

  animation: fadeIn 2s;
}

.Editor {
  grid-row: 1 / span 2;
  overflow-y: auto;

  @include devices.phone {
    grid-row: 1 / 1;
  }

  & > * {
    min-height: 100%;
  }
}

.Tutorial {
  @include devices.phone {
    opacity: 80%;

    padding-top: 32px;
    border-radius: 0;

    & h1 {
      opacity: 100%;
    }
  }

  height: calc(100% - 12px);

  padding: 12px;
  border-radius: 12px;
  margin: 0;

  background-color: #151515;

  overflow-y: auto;

  & * {
    margin: 8px 0;
  }

  &_Toggle {
    display: none;
    @include devices.phone {
      display: initial;
    }
  }
}

.Console {
  display: grid;
  grid-template: 32px 1fr / 100%;

  overflow-y: auto;

  &_Control {
    display: flex;
    gap: 8px;
  }
}

.Error {
  color: rgb(172, 8, 8);
}
